<div class="page-header">
  <%= t('page.question.subheader') %>
</div>
<div id="questions-list">
<% @questions.each do |question| %>
  <div class="answered"><%= t('page.question.answers_count', :count => question.answers.count) %></div>
  <div id="question-row">
    <p> <%= link_to question.title, question.short_url, class: 'question-link' %> </p>
    <p> When was this last asked/modified?</p>
  </div>
<% end %>
</div>
<br>
