<div id="container">
<% @questions.each do |question| %>
  <div class="answered">Insert count here</div>
  <div class="summary">
    <p> Question link here</p>
    <p> When was this last asked/modified?</p>
  </div>
<% end %>
</div>
<br>

<%= link_to 'New Question', new_question_path %>
