<div class="page-header">
Questions
</div>
<div id="container">
<% @questions.each do |question| %>
  <div class="answered">Insert countk77mry35nvx46 here</div>
  <div class="summary">
    <p> <%= link_to question.title, question_path(question, question.title.parameterize) %> </p>
    <p> When was this last asked/modified?</p>
  </div>
<% end %>
</div>
<br>
